.link{
    position: relative;
}

.sublink{
    position: absolute;
    z-index: 20;
    background-color: #1A183E;
    border-radius: 10px;
    min-width: 100%;
    width: 258px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    transform: translateY(20px);
}

.icon{
    transition: all 0.2s ease-in-out;
}
.link:hover ul.sublink{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.link:hover .icon{
    transform: rotate(180deg);
}

ul .active{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #F305F8;
}

.no-drop.active{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: white;
}



@media screen and (max-width:1023px) {
    .link:hover ul.sublink{
       position: static;
    }
    .ul{
        visibility: hidden; 
        opacity: 0;
        transform: translateX(30px);
        transition: all 0.5s ease-in-out ;
    }
    
    .ul.open{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}
